<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @registration.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @registration.age %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @registration.date_of_birth %>
</p>

<p>
  <strong>Cell no:</strong>
  <%= @registration.cell_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @registration.address %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
